	{%include 'admin_header.html'%}


	
	<div style="margin-bottom: 1em; margin-top: 3em; background:url('/static/img/carousel-1.jpg') ; height: 300px; width: 100%; background-size: cover;" >
	</div>

	<center>	<h1>ORGANIZER ADDED </h1>
		<table class="table" style="width: 500px;" >
			<tr>
				<th>SL.NO</th>
				<th>PLACE</th>
				<th>NAME</th>
				<th>EMAIL</th>
				<th>PHONE</th>
				
			</tr>
			{% for row in data['faculty'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['name']}}</td>
				<td>{{row['email']}}</td>
				<td>{{row['phone']}}</td>
				{%if row ['usertype']=="pending"%}
				<td><a href="?action=accept&id={{ row['login_id'] }}" class="btn btn-warning">accept</a></td>
				<td><a href="?action=reject&id={{ row['login_id'] }}" class="btn btn-danger" >reject</a></td>
				{%else%}
				<td>{{row['usertype']}}</td>
				{%endif%}
			</tr>
			{% endfor%}
		</table>
		
		
	
		
	</form>
</center>