
{%include 'admin_header.html'%}
<div style="margin-bottom: 1em; margin-top: 3em; background:url('/static/img/carousel-1.jpg') ; height: 300px; width: 100%; background-size: cover;" >
	</div>
<center>	<h1>STAFF ADDED </h1>
		<table class="table" style="width: 500px;" >
			<tr>
				<th>SL.NO</th>
				<th>NAME</th>
				
				<th>PLACE</th>
				<th>PHONE</th>
				<th>EMAIL</th>
				
				<th>UPDATE</th>
				<TH>DELETE</TH>
			</tr>
			{% for row in data['faculty'] %}
			<tr>
				<td>{{loop.index}}</td>
				
				<td>{{row['fname']}} {{row['lname']}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
				
				

				
				
			</tr>
			{% endfor%}
		</table>
		
		
	
		
	</form>
</center>
{%include 'footer.html'%}